.mainNav ul {
	align-items: center;
	display: flex;
	list-style: none;
	margin: 0 auto;
	max-width: 1200px;
	padding: 1rem 0.5rem;

	li {
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;

		svg {
			fill: currentColor;
			height: 24px;
			width: 24px;
		}
	}

	li:first-child {
		margin-right: auto;
	}

	li:not(:first-child) {
		a {
			border-radius: 0.5rem;
			display: inline-block;
			padding: 0.5rem;

			&:hover {
				background: var(--wind-blown);
				color: var(--blue-chip);
			}
		}
	}

	li:has([class*="blur-button"]) {
		padding: 0 0.5rem;
	}
}
