.list {
	counter-reset: list;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

.list li {
	background: linear-gradient(to bottom, var(--wind-blown), var(--wind-blown));
	border-radius: 0.5rem;
	color: var(--foreground);
	counter-increment: section;
	display: grid;
	grid-template-rows: auto 1fr auto;
	margin-left: 4rem;
	padding: 1rem;
	position: relative;
	text-align: center;
}

.list li:before {
	align-items: center;
	color: transparent;
	content: counter(section);
	display: flex;
	font-family: monospace;
	font-size: 11rem;
	font-weight: bold;
	height: 100%;
	left: -4.25rem;
	position: absolute;
	top: 0;
	width: 1em;
	-webkit-text-stroke: 1px var(--blue-chip);
	z-index: -1;
}

.list li h3 {
	margin: 0;
}

.list li img {
	display: block;
	height: auto;
	margin: 0 auto -1rem;
	width: 100%;
}
